
### Performance Analysis (Year-over-Year, Month-over-Month)

Purpose:
Key Objectives:
- Performance measurement across products, customers and regions
- Identify top performers through benchmarking
- Growth and trend analysis over time

Key SQL Functions:
- LAG() for row-by-row comparison
- AVG() OVER() for partition-based averages  
- CASE statements for trend evaluation

This analysis compares product sales performance against historical data and averages to identify trends and growth patterns year-over-year.

In [ ]:
# Import required libraries
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
%load_ext sql
from IPython.display import Image, display

# Load environment variables
load_dotenv()

# Configure pandas display format
pd.options.display.float_format = '{:.2f}'.format

# Get database credentials from environment variables
DB_PASSWORD = os.getenv('DB_PASSWORD')

# Set the DATABASE_URL environment variable explicitly
os.environ['DATABASE_URL'] = f"postgresql://postgres:{DB_PASSWORD}@localhost:5432/contoso_100k"

# Connect using the environment variable
%sql ${DATABASE_URL}

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Test the connection with a simple query
%sql SELECT version();

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

                                             version
0  PostgreSQL 17.4 on x86_64-windows, compiled by...

In [2]:
%%sql
with yearly_product_sales  AS(
select 
extract (Year from s.orderdate) as order_year,
p.productname, 
sum(s.quantity * s.netprice * s.exchangerate) AS revenue
from sales s
left join product p
on s.productkey = p.productkey
group by order_year, p.productname
)
Select 
order_year,
productname,
revenue,
AVG(revenue) OVER (PARTITION BY productname)  as avg_sales,
revenue - AVG(revenue) OVER (PARTITION BY productname) as diff_avg,
Case when 
    revenue - AVG(revenue) OVER (PARTITION BY productname) > 0 then 'Above Avg' 
    when
    revenue - AVG(revenue) OVER (PARTITION BY productname) < 0 then 'below Avg'
    else 'Avg' end as Avg_change,
LAG(revenue) over (partition by productname order by order_year) as prev_year_sales,
case 
    when  revenue - LAG(revenue) over (partition by productname order by order_year) > 0 then 'increase'
    when  revenue - LAG(revenue) over (partition by productname order by order_year) < 0 then 'decrease'
else 'No change' end  as prev_year_change
from yearly_product_sales
order by productname, order_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

22052 rows affected.

,order_year,productname,revenue,avg_sales,diff_avg,avg_change,prev_year_sales,prev_year_change
0,2015,A. Datum Advanced Digital Camera M300 Azure,1283.06,2926.39,-1643.32,below Avg,NaN,No change
1,2016,A. Datum Advanced Digital Camera M300 Azure,2518.16,2926.39,-408.23,below Avg,1283.06,increase
2,2017,A. Datum Advanced Digital Camera M300 Azure,4095.13,2926.39,1168.74,Above Avg,2518.16,increase
3,2018,A. Datum Advanced Digital Camera M300 Azure,4993.92,2926.39,2067.53,Above Avg,4095.13,increase
4,2019,A. Datum Advanced Digital Camera M300 Azure,8280.41,2926.39,5354.02,Above Avg,4993.92,increase
...,...,...,...,...,...,...,...,...
22047,2020,WWI Wireless Transmitter and Bluetooth Headpho...,7715.12,11390.62,-3675.50,below Avg,14358.65,decrease
22048,2021,WWI Wireless Transmitter and Bluetooth Headpho...,14297.96,11390.62,2907.34,Above Avg,7715.12,increase
22049,2022,WWI Wireless Transmitter and Bluetooth Headpho...,13779.59,11390.62,2388.97,Above Avg,14297.96,decrease
22050,2023,WWI Wireless Transmitter and Bluetooth Headpho...,15209.61,11390.62,3818.99,Above Avg,13779.59,increase
22051,2024,WWI Wireless Transmitter and Bluetooth Headpho...,2799.91,11390.62,-8590.72,below Avg,15209.61,decrease