### Customer Report Generation

============================================================
Customer Report
============================================================

Purpose:
 - This report consolidates key customer metrics and behaviors

Highlights:
1. Gathers essential fields such as names, ages, and transaction details.
2. Segments customers into categories (VIP, Regular, New) and age groups.
3. Aggregates customer-level metrics:
   - total orders
   - total sales
   - total quantity purchased
   - total products
   - lifespan (in years)
4. Calculates valuable KPIs:
   - recency (months since last order)
   - average order value
   - average monthly spend

### Create a connection & import Libaries

In [2]:
# Import required libraries
import pandas as pd
from sqlalchemy import create_engine
%load_ext sql
from IPython.display import Image, display

# Configure pandas display format
pd.options.display.float_format = '{:.2f}'.format

# Connect to PostgreSQL database with password
%sql postgresql://postgres:legacy@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Test the connection with a simple query
%sql SELECT version();

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

                                             version
0  PostgreSQL 17.4 on x86_64-windows, compiled by...

### View the Customer Table

In [8]:
%%sql
SELECT *
from information_schema.columns
Where table_name = 'customer'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,contoso_100k,public,customer,customerkey,1,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,contoso_100k,public,customer,geoareakey,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,contoso_100k,public,customer,startdt,3,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,contoso_100k,public,customer,enddt,4,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,contoso_100k,public,customer,birthday,18,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,contoso_100k,public,customer,age,19,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,contoso_100k,public,customer,latitude,23,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,contoso_100k,public,customer,longitude,24,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,contoso_100k,public,customer,middleinitial,9,None,YES,character varying,5.00,20.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,contoso_100k,public,customer,surname,10,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,contoso_100k,public,customer,streetaddress,11,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,contoso_100k,public,customer,city,12,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,contoso_100k,public,customer,state,13,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,contoso_100k,public,customer,statefull,14,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,contoso_100k,public,customer,zipcode,15,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,contoso_100k,public,customer,country,16,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
16,contoso_100k,public,customer,countryfull,17,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
17,contoso_100k,public,customer,company,21,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
18,contoso_100k,public,customer,vehicle,22,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
19,contoso_100k,public,customer,occupation,20,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
20,contoso_100k,public,customer,continent,5,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
21,contoso_100k,public,customer,gender,6,None,YES,character varying,10.00,40.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
22,contoso_100k,public,customer,title,7,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
23,contoso_100k,public,customer,givenname,8,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [30]:
%%sql
SELECT column_name
from information_schema.columns
Where table_name = 'sales'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

13 rows affected.

     column_name
0   exchangerate
1     linenumber
2      orderdate
3   deliverydate
4    customerkey
5       storekey
6     productkey
7       quantity
8      unitprice
9       netprice
10      unitcost
11      orderkey
12  currencycode

### *Selecting the required columns from the sales table by joining the customer table and the sales table*

In [69]:
%%sql
SELECT 
    c.customerkey,
    c.birthday,
    c.latitude,
    c.longitude,
    concat (c.givenname, ' ', c.surname) AS fullname,
    c.statefull,
    c.countryfull,
    c.company,
    c.occupation,
    c.continent,
    c.gender,
    s.orderkey,
    s.deliverydate,
    s.orderdate,
    s.productkey,
  (s.quantity * s.netprice * s.exchangerate) AS sales_amount
 
  from customer c
  left join sales s on  c.customerkey = s.customerkey 
  where s.orderdate is not  null
  order by random()

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,customerkey,birthday,latitude,longitude,fullname,statefull,countryfull,company,occupation,continent,gender,orderkey,deliverydate,orderdate,productkey,sales_amount
0,1712176,1988-03-09,37.69,-121.97,Annie Ulrey,California,United States,Two Pesos,Sportscaster,North America,female,3261009,2023-12-05,2023-12-05,1638,24.17
1,2070975,1965-12-17,40.47,-84.45,Konstanty Chmielewski,Ohio,United States,Rossi Auto Parts,Medical social worker,North America,male,703009,2016-12-03,2016-12-03,2063,539.97
2,1966236,1991-01-15,40.58,-75.47,Barbora Zverinová,Pennsylvania,United States,Reliable Garden Management,Chemical engineering technician,North America,female,1357015,2018-09-22,2018-09-18,300,177.39
3,1728120,1948-06-25,38.93,-77.13,Russell Moore,Washington DC,United States,Team Uno,Carpenter,North America,male,3256027,2023-12-01,2023-11-30,723,89.76
4,759330,1983-09-25,45.95,12.58,Facondo Siciliani,Treviso,Italy,Kelsey's Neighbourhood Bar & Grill,Personnel analyst,Europe,male,1463022,2019-01-02,2019-01-02,2445,3.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,346223,1939-06-22,45.49,-73.52,John Johnson,Quebec,Canada,Pioneer Chicken,Hazardous materials removal worker,North America,male,3250031,2023-11-24,2023-11-24,482,1469.43
199869,308328,1936-09-22,45.41,-75.95,Jayme Cartwright,Ontario,Canada,Reliable Garden Management,Signal and track switch repairer,North America,female,2620013,2022-03-04,2022-03-04,1493,835.64
199870,1715486,1975-06-13,41.03,-81.57,Blanche Deroche,Ohio,United States,Morrie Mages,Payroll bookkeeper,North America,female,1288012,2018-07-11,2018-07-11,1608,197.98
199871,443133,1982-12-15,48.06,12.69,Jörg Fleischer,Freistaat Bayern,Germany,Courtesy Hardware Store,Constructor,Europe,male,2157006,2020-11-28,2020-11-26,942,251.41
199872,1923483,1993-07-02,45.07,-93.33,Connor Hague,Minnesota,United States,McMahan's Furniture,Veterinary assistants and laboratory animal ca...,North America,male,3124021,2023-07-21,2023-07-21,318,889.11

### Aggregating the data

In [ ]:
%%sql

WITH base_query AS (
    SELECT 
        c.customerkey,
        c.startdt,
        c.enddt,
        EXTRACT(YEAR FROM age(current_date, c.birthday)) AS age,
        c.latitude,
        c.longitude,
        concat(c.givenname, ' ', c.surname) AS fullname,
        c.statefull,
        c.countryfull,
        c.company,
        c.occupation,
        c.continent,
        c.gender,
        s.orderkey,
        s.quantity,
        s.orderdate,
        s.productkey,
        (s.quantity * s.netprice * s.exchangerate) AS sales_amount,
        EXTRACT(years FROM AGE(MAX(s.orderdate) OVER (PARTITION BY c.customerkey), 
                MIN(s.orderdate) OVER (PARTITION BY c.customerkey))) AS lifespan
    FROM customer c
    LEFT JOIN sales s ON c.customerkey = s.customerkey 
    WHERE s.orderdate IS NOT NULL
), 
customer_aggregation AS (
    SELECT 
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        lifespan,
        gender,
        MAX(orderdate) as last_order,
        COUNT(DISTINCT orderkey) as total_orders,
        SUM(sales_amount) as total_sales,
        SUM(quantity) as total_quantity,
        COUNT(DISTINCT productkey) as total_products
    FROM base_query
    GROUP BY 
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        gender,
        lifespan
)
SELECT 
    customerkey,
    age,
    latitude,
    longitude,
    fullname,
    statefull,
    countryfull,
    company,
    occupation,
    continent,
    gender,
    lifespan,
    last_order,
    total_orders,
    CAST(total_sales AS DECIMAL(10,2)) as total_sales,
    total_quantity,
    total_products,
    CASE 
        WHEN lifespan >= 12 AND total_sales > 5000 THEN 'VIP'
        WHEN lifespan > 12 AND total_sales <= 5000 THEN 'Regular'
        ELSE 'New' 
    END AS customer_segment,
    CASE 
        WHEN age >= 50 THEN '50+'
        WHEN age BETWEEN 40 AND 49 THEN '40-49'
        WHEN age BETWEEN 30 AND 39 THEN '30-39'
        WHEN age BETWEEN 20 AND 29 THEN '20-29'
        ELSE 'Under 20'
    END AS age_group,
    EXTRACT(DAY FROM age(current_date, last_order)) AS last_order_days_ago,
    CAST(CASE 
        WHEN total_orders = 0 THEN 0 
        ELSE total_sales / total_orders 
    END AS DECIMAL(10,2)) AS average_order_value,
    CAST(CASE 
        WHEN lifespan = 0 THEN total_sales
        ELSE total_sales / lifespan
    END AS DECIMAL(10,2)) AS average_yearly_spent
FROM customer_aggregation
ORDER BY random();

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

,customerkey,age,latitude,longitude,fullname,statefull,countryfull,company,occupation,continent,...,last_order,total_orders,total_sales,total_quantity,total_products,customer_segment,age_group,last_order_days_ago,average_order_value,average_yearly_spent
0,624546,58,47.03,5.53,Fanchon Léveillé,Franche-Comté,France,Affinity Investment Group,Computer control operator,Europe,...,2019-05-14,1,2784.46,10,4,New,50+,7,2784.46,2784.46
1,1856014,35,39.92,-86.35,Justin Aguilar,Indiana,United States,Buckeye Furniture,Transplant nurse,North America,...,2017-02-22,1,40.50,2,1,New,30-39,27,40.50,40.50
2,2074052,83,37.96,-100.73,Leroy Ethier,Kansas,United States,Old America Stores,Construction equipment operator,North America,...,2023-01-11,3,5435.82,19,5,New,50+,10,1811.94,679.48
3,384948,65,48.86,-79.55,Robert Benavides,Quebec,Canada,The Flying Hippo,Engineering geologist,North America,...,2023-01-04,3,5460.82,19,7,New,50+,17,1820.27,1820.27
4,902629,35,51.46,0.73,Bailey Carter,Southend-on-Sea,United Kingdom,Tape World,Lodging manager,Europe,...,2022-10-07,1,5657.13,5,1,New,30-39,14,5657.13,5657.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49482,1859946,68,45.38,-84.84,Edith Driggers,Michigan,United States,Sambo's,Structural engineer,North America,...,2023-05-04,1,225.37,5,1,New,50+,17,225.37,225.37
49483,419391,64,48.08,7.79,Janina Maur,Baden-Württemberg,Germany,Gas Depot,Typist,Europe,...,2023-08-17,3,5587.85,25,10,New,50+,4,1862.62,1396.96
49484,283266,68,43.73,-79.38,Charles Cummings,Ontario,Canada,Liberal,Arbitrator,North America,...,2024-01-06,3,12022.51,33,12,New,50+,15,4007.50,2003.75
49485,249987,57,43.62,-79.37,Linnea Lohr,Ontario,Canada,Today's Man,Sewer,North America,...,2018-06-20,1,5175.75,6,1,New,50+,1,5175.75,5175.75
49486,985995,58,57.64,-4.17,Owen French,Highland,United Kingdom,L' Fish,Tour bus driver,Europe,...,2022-05-16,1,2883.49,10,2,New,50+,5,2883.49,2883.49

### Final report (includes final aggregation)

In [7]:
%%sql

WITH base_query AS (
    SELECT 
        c.customerkey,
        c.startdt,
        c.enddt,
        EXTRACT(YEAR FROM age(current_date, c.birthday)) AS age,
        c.latitude,
        c.longitude,
        concat(c.givenname, ' ', c.surname) AS fullname,
        c.statefull,
        c.countryfull,
        c.company,
        c.occupation,
        c.continent,
        c.gender,
        s.orderkey,
        s.quantity,
        s.orderdate,
        s.productkey,
        (s.quantity * s.netprice * s.exchangerate) AS sales_amount,
        EXTRACT(years FROM AGE(MAX(s.orderdate) OVER (PARTITION BY c.customerkey), 
                             MIN(s.orderdate) OVER (PARTITION BY c.customerkey))) AS lifespan
    FROM customer c
    LEFT JOIN sales s ON c.customerkey = s.customerkey 
    WHERE s.orderdate IS NOT NULL
), 
customer_aggregation AS (
    SELECT 
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        lifespan,
        gender,
        MAX(orderdate) as last_order,
        COUNT(DISTINCT orderkey) as total_orders,
        SUM(sales_amount) as total_sales,
        SUM(quantity) as total_quantity,
        COUNT(DISTINCT productkey) as total_products
    FROM base_query
    GROUP BY 
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        gender,
        lifespan
)
SELECT 
    customerkey,
    age,
    latitude,
    longitude,
    fullname,
    statefull,
    countryfull,
    company,
    occupation,
    continent,
    gender,
    lifespan,
    last_order,
    total_orders,
    CAST(total_sales AS DECIMAL(10,2)) as total_sales,
    total_quantity,
    total_products,
    CASE 
        WHEN lifespan >= 12 AND total_sales > 5000 THEN 'VIP'
        WHEN lifespan > 12 AND total_sales <= 5000 THEN 'Regular'
        ELSE 'New' 
    END AS customer_segment,
    CASE 
        WHEN age >= 50 THEN '50+'
        WHEN age BETWEEN 40 AND 49 THEN '40-49'
        WHEN age BETWEEN 30 AND 39 THEN '30-39'
        WHEN age BETWEEN 20 AND 29 THEN '20-29'
        ELSE 'Under 20'
    END AS age_group,
    EXTRACT(DAY FROM age(current_date, last_order)) AS last_order_days_ago,
    CAST(CASE 
        WHEN total_orders = 0 THEN 0 
        ELSE total_sales / total_orders 
    END AS DECIMAL(10,2)) AS average_order_value,
    CAST(CASE 
        WHEN lifespan = 0 THEN total_sales
        ELSE total_sales / lifespan
    END AS DECIMAL(10,2)) AS average_yearly_spent
FROM customer_aggregation
ORDER BY random();

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

,customerkey,age,latitude,longitude,fullname,statefull,countryfull,company,occupation,continent,...,last_order,total_orders,total_sales,total_quantity,total_products,customer_segment,age_group,last_order_days_ago,average_order_value,average_yearly_spent
0,1000472,26,53.13,-0.86,Amelie Kay,Newark and Sherwood,United Kingdom,Quality Realty Service,Customs inspector,Europe,...,2022-02-23,2,5781.85,23,9,New,20-29,26,2890.92,1445.46
1,1337118,28,37.34,-121.92,Jacob Torres,California,United States,Plan Future,News vendor,North America,...,2023-07-19,1,654.84,7,3,New,20-29,2,654.84,654.84
2,595533,51,48.53,8.52,Christin Schwarz,Baden-Württemberg,Germany,Sampson's,Merchant marine sailor,Europe,...,2023-11-25,1,1387.22,4,2,New,50+,26,1387.22,1387.22
3,1030381,61,57.54,-3.37,Lauren Owens,Moray,United Kingdom,Freedom Map,PBX operator,Europe,...,2019-10-01,2,1387.90,3,2,New,50+,20,693.95,693.95
4,1615713,45,29.44,-98.49,Jean Green,Texas,United States,TheBottomHalf,Woodworker,North America,...,2022-12-24,1,1105.00,4,2,New,40-49,28,1105.00,1105.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49482,132143,71,-24.72,116.28,Noah Tennant,Western Australia,Australia,Paul's Food Mart,Range conservationist,Australia,...,2022-07-08,1,2549.57,10,1,New,50+,13,2549.57,2549.57
49483,386523,54,45.63,-72.94,Arnold Bates,Quebec,Canada,Gantos,Telemarketer,North America,...,2021-02-20,2,3861.08,15,5,New,50+,1,1930.54,1930.54
49484,21396,25,-10.99,142.32,Lily Ulrich,Queensland,Australia,Ernst Home Centers,Precious stone and metal worker,Australia,...,2018-09-03,1,21369.71,19,6,New,20-29,18,21369.71,21369.71
49485,1820197,52,32.75,-97.23,Daniel Lewis,Texas,United States,Camelot Music,Applicator,North America,...,2022-02-28,4,7547.88,40,13,New,50+,21,1886.97,1886.97
49486,1245054,43,47.30,-122.21,Daniel Gibbs,Washington,United States,Paul's Record Hut,Safety specialist,North America,...,2023-11-18,1,511.13,5,3,New,40-49,3,511.13,511.13

In [10]:
%%sql
CREATE  VIEW  customer_report if not exists AS
WITH base_query AS (
    SELECT 
        c.customerkey,
        c.startdt,
        c.enddt,
        EXTRACT(YEAR FROM age(current_date, c.birthday)) AS age,
        c.latitude,
        c.longitude,
        concat(c.givenname, ' ', c.surname) AS fullname,
        c.statefull,
        c.countryfull,
        c.company,
        c.occupation,
        c.continent,
        c.gender,
        s.orderkey,
        s.quantity,
        s.orderdate,
        s.productkey,
        (s.quantity * s.netprice * s.exchangerate) AS sales_amount,
        EXTRACT(years FROM AGE(MAX(s.orderdate) OVER (PARTITION BY c.customerkey), 
                             MIN(s.orderdate) OVER (PARTITION BY c.customerkey))) AS lifespan
    FROM customer c
    LEFT JOIN sales s ON c.customerkey = s.customerkey 
    WHERE s.orderdate IS NOT NULL
), 
customer_aggregation AS (
    SELECT 
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        lifespan,
        gender,
        MAX(orderdate) as last_order,
        COUNT(DISTINCT orderkey) as total_orders,
        SUM(sales_amount) as total_sales,
        SUM(quantity) as total_quantity,
        COUNT(DISTINCT productkey) as total_products
    FROM base_query
    GROUP BY 
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        gender,
        lifespan
)
SELECT 
    customerkey,
    age,
    latitude,
    longitude,
    fullname,
    statefull,
    countryfull,
    company,
    occupation,
    continent,
    gender,
    lifespan,
    last_order,
    total_orders,
    CAST(total_sales AS DECIMAL(10,2)) as total_sales,
    total_quantity,
    total_products,
    CASE 
        WHEN lifespan >= 12 AND total_sales > 5000 THEN 'VIP'
        WHEN lifespan > 12 AND total_sales <= 5000 THEN 'Regular'
        ELSE 'New' 
    END AS customer_segment,
    CASE 
        WHEN age >= 50 THEN '50+'
        WHEN age BETWEEN 40 AND 49 THEN '40-49'
        WHEN age BETWEEN 30 AND 39 THEN '30-39'
        WHEN age BETWEEN 20 AND 29 THEN '20-29'
        ELSE 'Under 20'
    END AS age_group,
    EXTRACT(DAY FROM age(current_date, last_order)) AS last_order_days_ago,
    CAST(CASE 
        WHEN total_orders = 0 THEN 0 
        ELSE total_sales / total_orders 
    END AS DECIMAL(10,2)) AS average_order_value,
    CAST(CASE 
        WHEN lifespan = 0 THEN total_sales
        ELSE total_sales / lifespan
    END AS DECIMAL(10,2)) AS average_yearly_spent
FROM customer_aggregation
ORDER BY random();

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(The named parameters feature is "disabled". Enable it with: %config SqlMagic.named_parameters="enabled".
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg2.errors.SyntaxError) syntax error at or near "if"
LINE 1: CREATE  VIEW  customer_report if not exists AS
                                      ^

[SQL: CREATE  VIEW  customer_report if not exists AS
WITH base_query AS (
    SELECT
        c.customerkey,
        c.startdt,
        c.enddt,
        EXTRACT(YEAR FROM age(current_date, c.birthday)) AS age,
        c.latitude,
        c.longitude,
        concat(c.givenname, ' ', c.surname) AS fullname,
        c.statefull,
        c.countryfull,
        c.company,
        c.occupation,
        c.continent,
        c.gender,
        s.orderkey,
        s.quantity,
        s.orderdate,
        s.productkey,
        (s.quantity * s.netprice * s.exchangerate) AS sales_amount,
        EXTRACT(years FROM AGE(MAX(s.orderdate) OVER (PARTITION BY c.customerkey),
                             MIN(s.orderdate) OVER (PARTITION BY c.customerkey))) AS lifespan
    FROM customer c
    LEFT JOIN sales s ON c.customerkey = s.customerkey
    WHERE s.orderdate IS NOT NULL
),
customer_aggregation AS (
    SELECT
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        lifespan,
        gender,
        MAX(orderdate) as last_order,
        COUNT(DISTINCT orderkey) as total_orders,
        SUM(sales_amount) as total_sales,
        SUM(quantity) as total_quantity,
        COUNT(DISTINCT productkey) as total_products
    FROM base_query
    GROUP BY
        customerkey,
        age,
        latitude,
        longitude,
        fullname,
        statefull,
        countryfull,
        company,
        occupation,
        continent,
        gender,
        lifespan
)
SELECT
    customerkey,
    age,
    latitude,
    longitude,
    fullname,
    statefull,
    countryfull,
    company,
    occupation,
    continent,
    gender,
    lifespan,
    last_order,
    total_orders,
    CAST(total_sales AS DECIMAL(10,2)) as total_sales,
    total_quantity,
    total_products,
    CASE
        WHEN lifespan >= 12 AND total_sales > 5000 THEN 'VIP'
        WHEN lifespan > 12 AND total_sales <= 5000 THEN 'Regular'
        ELSE 'New'
    END AS customer_segment,
    CASE
        WHEN age >= 50 THEN '50+'
        WHEN age BETWEEN 40 AND 49 THEN '40-49'
        WHEN age BETWEEN 30 AND 39 THEN '30-39'
        WHEN age BETWEEN 20 AND 29 THEN '20-29'
        ELSE 'Under 20'
    END AS age_group,
    EXTRACT(DAY FROM age(current_date, last_order)) AS last_order_days_ago,
    CAST(CASE
        WHEN total_orders = 0 THEN 0
        ELSE total_sales / total_orders
    END AS DECIMAL(10,2)) AS average_order_value,
    CAST(CASE
        WHEN lifespan = 0 THEN total_sales
        ELSE total_sales / lifespan
    END AS DECIMAL(10,2)) AS average_yearly_spent
FROM customer_aggregation
ORDER BY random();]
(Background on this error at: https://sqlalche.me/e/14/f405)