## Product Report
===========================================================
Purpose:
 - This report consolidates key product metrics and behaviors.

Highlights:
1. Gathers essential fields such as product name, category, subcategory, and cost.
2. Segments products by revenue to identify High-Performers, Mid-Range, or Low-Performers.
3. Aggregates product-level metrics:
   - total orders
   - total sales
   - total quantity sold
   - total customers (unique)
   - lifespan (in months)
4. Calculates valuable KPIs:
   - recency (months since last sale)
   - average order revenue (AOR)
   - average monthly revenue
============================================================

In [ ]:
# Import required libraries
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
%load_ext sql
from IPython.display import Image, display

# Load environment variables
load_dotenv()

# Configure pandas display format
pd.options.display.float_format = '{:.2f}'.format

# Get database credentials from environment variables
DB_PASSWORD = os.getenv('DB_PASSWORD')

# Set the DATABASE_URL environment variable explicitly
os.environ['DATABASE_URL'] = f"postgresql://postgres:{DB_PASSWORD}@localhost:5432/contoso_100k"

# Connect using the environment variable
%sql ${DATABASE_URL}

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Test the connection with a simple query
%sql SELECT version();

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

                                             version
0  PostgreSQL 17.4 on x86_64-windows, compiled by...

#### Gather essential data

In [4]:
%%sql
SELECT column_name
from information_schema.columns
Where table_name = 'product'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

14 rows affected.

        column_name
0        productkey
1       productcode
2            weight
3              cost
4             price
5       categorykey
6    subcategorykey
7      categoryname
8   subcategoryname
9       productname
10     manufacturer
11            brand
12            color
13       weightunit

In [79]:
%%sql
select * from sales
order by random()
limit 5

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1160011,4,2018-03-05,2018-03-05,759171,300,1665,4,4.49,4.13,2.29,EUR,0.81
1,2591021,5,2022-02-03,2022-02-06,1296642,999999,1455,4,406.00,406.00,186.70,USD,1.00
2,2876010,6,2022-11-15,2022-11-15,1801695,430,1406,3,14.19,14.19,7.23,USD,1.00
3,3153051,3,2023-08-19,2023-08-19,1715902,440,954,7,186.90,166.34,85.95,USD,1.00
4,2446047,0,2021-09-11,2021-09-11,527773,210,1556,6,392.00,360.64,180.26,EUR,0.84

In [80]:
%%sql
select * from product
order by random()
limit 5

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,298,205007,SV Car Video TFT7 M7001 Black,Southridge Video,Southridge Video,Black,pounds,4.20,157.54,309.00,2,TV and Video,205,Car Video
1,102,106037,WWI Wireless Bluetooth Stereo Headphones M270 ...,Wide World Importers,Wide World Importers,Silver,pounds,1.00,52.88,115.00,1,Audio,106,Bluetooth Headphones
2,1250,406004,Contoso Travel Charger for S-Series Battery E3...,"Contoso, Ltd",Contoso,Silver,ounces,2.50,30.58,59.99,4,Cameras and camcorders,406,Cameras & Camcorders Accessories
3,1465,503058,Contoso Finger Touch Screen Phones M30 Black,"Contoso, Ltd",Contoso,Black,ounces,12.00,91.51,199.00,5,Cell phones,503,Touch Screen Phones
4,2407,807060,Proseware Air conditioner 8000BTU M320 Grey,"Proseware, Inc.",Proseware,Grey,pounds,16.00,183.94,399.99,8,Home Appliances,807,Air Conditioners

In [5]:
%%sql
WITH product_metrics AS (
    SELECT 
        p.productkey,
        p.productname,
        p.categoryname,
        p.subcategoryname,
        p.manufacturer,
        s.orderdate,
        s.quantity,
        p.brand,
        s.orderkey,
        (s.quantity * s.netprice * s.exchangerate) as sales,
        (s.quantity * s.unitprice * s.exchangerate) as real_price,
        (s.quantity * s.unitprice * s.exchangerate) - (s.quantity * s.netprice * s.exchangerate) as discount,
        s.customerkey
    FROM product p
    LEFT JOIN sales s ON p.productkey = s.productkey
),
product_sales AS (
    SELECT 
        productname,
        categoryname,
        subcategoryname,
        manufacturer,
        brand,
        SUM(quantity) as total_quantity,
        COUNT(DISTINCT orderkey) as total_orders,
        CAST(SUM(sales) AS DECIMAL(10,2)) as total_sales,
        CAST(SUM(real_price) AS DECIMAL(10,2)) as total_real_sales,
        CAST(SUM(discount) AS DECIMAL(10,2)) as total_discount,
        COUNT(DISTINCT customerkey) as unique_customers,
        MAX(orderdate) as latest_order,
        MIN(orderdate) as first_order,
        EXTRACT(MONTH FROM AGE(MAX(orderdate), MIN(orderdate))) as lifespan_months,
        EXTRACT(MONTH FROM AGE(CURRENT_DATE, MAX(orderdate))) as recency
    FROM product_metrics
    GROUP BY 
        productname,
        categoryname,
        subcategoryname,
        manufacturer,
        brand
),
percentiles AS (
    SELECT 
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_sales) as p75,
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_sales) as p25
    FROM product_sales
)
SELECT 
    ps.*,
    CAST(CASE 
        WHEN lifespan_months = 0 THEN total_sales
        ELSE total_sales / lifespan_months
    END AS DECIMAL(10,2)) as avg_monthly_revenue,
    CAST(CASE 
        WHEN total_orders = 0 THEN 0 
        ELSE total_sales / total_orders 
    END AS DECIMAL(10,2)) as avg_order_revenue,
    CAST(CASE 
        WHEN total_real_sales = 0 THEN 0
        ELSE (total_discount / total_real_sales) * 100
    END AS DECIMAL(10,2)) as discount_percentage,
    CASE 
        WHEN total_sales > p.p75 THEN 'High-Performer'
        WHEN total_sales > p.p25 THEN 'Mid-Range'
        ELSE 'Low-Performer'
    END as performance_segment
FROM product_sales ps
CROSS JOIN percentiles p
ORDER BY total_sales DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2517 rows affected.

,productname,categoryname,subcategoryname,manufacturer,brand,total_quantity,total_orders,total_sales,total_real_sales,total_discount,unique_customers,latest_order,first_order,lifespan_months,recency,avg_monthly_revenue,avg_order_revenue,discount_percentage,performance_segment
0,WWI Desktop PC2.33 X2330 Silver,Computers,Desktops,Wide World Importers,Wide World Importers,1390,406,1978563.54,2102910.60,124347.06,406,2024-03-07,2015-01-23,1,1,1978563.54,4873.31,5.91,High-Performer
1,Adventure Works Desktop PC2.33 XD233 Black,Computers,Desktops,Adventure Works,Adventure Works,1306,435,1930923.36,2046673.99,115750.64,432,2024-04-01,2015-08-26,7,0,275846.19,4438.90,5.66,High-Performer
2,Adventure Works Desktop PC2.33 XD233 White,Computers,Desktops,Adventure Works,Adventure Works,1282,389,1856510.82,1973624.54,117113.72,388,2024-03-25,2015-05-28,9,0,206278.98,4772.52,5.93,High-Performer
3,WWI Desktop PC2.33 X2330 Brown,Computers,Desktops,Wide World Importers,Wide World Importers,1296,406,1774293.33,1879450.79,105157.46,403,2024-04-20,2015-01-01,3,0,591431.11,4370.18,5.60,High-Performer
4,Adventure Works Desktop PC2.33 XD233 Silver,Computers,Desktops,Adventure Works,Adventure Works,1234,383,1773019.12,1890671.36,117652.23,383,2024-04-11,2015-03-03,1,0,1773019.12,4629.29,6.22,High-Performer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,SV USB Data Cable E600 Grey,Computers,Computers Accessories,Southridge Video,Southridge Video,93,30,130.10,134.29,4.19,29,2024-03-11,2015-03-12,11,1,11.83,4.34,3.12,Low-Performer
2513,Litware 80mm Dual Ball Bearing Case Fan E1001 ...,Home Appliances,Fans,"Litware, Inc.",Litware,25,12,111.03,114.52,3.50,12,2024-02-24,2016-02-16,0,1,111.03,9.25,3.06,Low-Performer
2514,SV USB Data Cable E600 Black,Computers,Computers Accessories,Southridge Video,Southridge Video,76,22,105.38,112.23,6.85,22,2023-12-28,2015-09-30,2,3,52.69,4.79,6.10,Low-Performer
2515,SV USB Data Cable E600 Silver,Computers,Computers Accessories,Southridge Video,Southridge Video,62,23,97.31,101.43,4.12,23,2023-09-12,2016-04-23,4,7,24.33,4.23,4.06,Low-Performer
2516,SV USB Data Cable E600 Pink,Computers,Computers Accessories,Southridge Video,Southridge Video,69,23,84.65,92.77,8.11,23,2023-11-21,2015-10-17,1,5,84.65,3.68,8.74,Low-Performer

In [6]:
%%sql
CREATE VIEW product_report AS
WITH product_metrics AS (
    SELECT 
        p.productkey,
        p.productname,
        p.categoryname,
        p.subcategoryname,
        p.manufacturer,
        s.orderdate,
        s.quantity,
        p.brand,
        s.orderkey,
        (s.quantity * s.netprice * s.exchangerate) as sales,
        (s.quantity * s.unitprice * s.exchangerate) as real_price,
        (s.quantity * s.unitprice * s.exchangerate) - (s.quantity * s.netprice * s.exchangerate) as discount,
        s.customerkey
    FROM product p
    LEFT JOIN sales s ON p.productkey = s.productkey
),
product_sales AS (
    SELECT 
        productname,
        categoryname,
        subcategoryname,
        manufacturer,
        brand,
        SUM(quantity) as total_quantity,
        COUNT(DISTINCT orderkey) as total_orders,
        CAST(SUM(sales) AS DECIMAL(10,2)) as total_sales,
        CAST(SUM(real_price) AS DECIMAL(10,2)) as total_real_sales,
        CAST(SUM(discount) AS DECIMAL(10,2)) as total_discount,
        COUNT(DISTINCT customerkey) as unique_customers,
        MAX(orderdate) as latest_order,
        MIN(orderdate) as first_order,
        EXTRACT(MONTH FROM AGE(MAX(orderdate), MIN(orderdate))) as lifespan_months,
        EXTRACT(MONTH FROM AGE(CURRENT_DATE, MAX(orderdate))) as recency
    FROM product_metrics
    GROUP BY 
        productname,
        categoryname,
        subcategoryname,
        manufacturer,
        brand
),
percentiles AS (
    SELECT 
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_sales) as p75,
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_sales) as p25
    FROM product_sales
)
SELECT 
    ps.*,
    CAST(CASE 
        WHEN lifespan_months = 0 THEN total_sales
        ELSE total_sales / lifespan_months
    END AS DECIMAL(10,2)) as avg_monthly_revenue,
    CAST(CASE 
        WHEN total_orders = 0 THEN 0 
        ELSE total_sales / total_orders 
    END AS DECIMAL(10,2)) as avg_order_revenue,
    CAST(CASE 
        WHEN total_real_sales = 0 THEN 0
        ELSE (total_discount / total_real_sales) * 100
    END AS DECIMAL(10,2)) as discount_percentage,
    CASE 
        WHEN total_sales > p.p75 THEN 'High-Performer'
        WHEN total_sales > p.p25 THEN 'Mid-Range'
        ELSE 'Low-Performer'
    END as performance_segment
FROM product_sales ps
CROSS JOIN percentiles p
ORDER BY total_sales DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

Empty DataFrame
Columns: []
Index: []

clarity on purpose
why will stay the same AND WHAT WILL CHANGE

Here are several types of analysis you can perform using the `product` table in your database:

1. **Product Performance Analysis**
   - Identify top-selling and low-selling products by sales volume or revenue.
   - Analyze sales trends for each product over time.

2. **Category and Subcategory Analysis**
   - Compare sales and revenue across different product categories and subcategories.
   - Determine which categories contribute most to overall revenue.

3. **Product Profitability**
   - Calculate profit margins for each product (revenue minus cost).
   - Identify products with the highest and lowest profitability.

4. **Customer Purchase Patterns**
   - Analyze which products are frequently bought together (market basket analysis).
   - Determine the most popular products among different customer segments.

5. **Inventory and Stock Analysis**
   - Track inventory levels and identify products with slow or fast turnover rates.
   - Forecast future inventory needs based on historical sales data.

6. **Product Lifecycle Analysis**
   - Assess the lifespan of products from launch to discontinuation.
   - Identify products in growth, maturity, or decline stages.

7. **Pricing Analysis**
   - Evaluate the impact of price changes on sales volume and revenue.
   - Compare product prices with competitors (if external data is available).

8. **Seasonality and Trend Analysis**
   - Detect seasonal patterns in product sales.
   - Identify emerging trends in product popularity.

9. **Customer Feedback and Rating Analysis**
   - Analyze customer reviews and ratings for each product (if available).
   - Identify products with high satisfaction or frequent complaints.

10. **Cross-Sell and Up-Sell Opportunities**
    - Find products that are often purchased together to create bundles or promotions.
    - Identify opportunities to recommend higher-value products to customers.

These analyses can help inform business decisions related to product development, marketing, inventory management, and sales strategies.